<div fxLayout="column" fxFlexFill>
  <div fxFlex="none">
    <mat-toolbar color="primary" style="height: 64px;">
      <a routerLink="/" routerLinkActive="activebutton" mat-button>COVID Vaccine Countdown</a>
      <span style="flex: 1 1 auto;"></span>
      <a routerLink="/info" routerLinkActive="activebutton" mat-button>FAQ</a>
    </mat-toolbar>
  </div>
  <div id="body" style="padding: 1%;" fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="none">
    <mat-toolbar>
      <a routerLink="/tcd" routerLinkActive="activebutton" mat-button>Terms, Conditions, & Disclaimer</a>
    </mat-toolbar>
  </div>
</div>